<!DOCTYPE html>
<html lang="en">

    <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <title>Update Notice</title>
</head>

<body>
<h1 color="blue">Update  Notice</h1>


<form method="post" novalidate>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% for field in form.visible_fields %}
    <div class="form-group " align="left"  >
      {{ field.label_tag }}
        <div style="height: 50px;" >
      {{ field }}

  {% endfor %}
          </div>
<button  onclick="location.href='{% url 'create_notices'%}'" class="btn btn-primary " align="center">Update</p></button>
    </div>
</form>
</body>
</html>